
@import 'semantic';

/* My Styles */

container {
    margin-top: 30px;
}

p, .descrip, .title {
    color: aliceblue;
}

.title {
    margin-left: 20px;
    font-size: 2.25em;
}

body, body.pushable>.pusher {
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #6441A5, #2a0845);
    background: -o-linear-gradient(right, #6441A5, #2a0845);
    background: -o-linear-gradient(right, #6441A5, #2a0845);
    /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.ui[class*="right floated"].button {
    left: .4%;
    top: 1%;
    position: fixed;
}

p {
    font-size: 25px;
}